	{% include base.html %}
	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ base }}/assets/css/main.css">
 
    <!--Favicon-->
    <link rel="shortcut icon" href="/{{ site.theme_settings.favicon }}" type="image/x-icon">

    <!-- Canonical -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' }}">

    <!-- RSS -->
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml"/>

    <!-- Font Awesome -->
    <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{{ base }}/assets/vendor/css/font-awesome.min.css">

    {% if page.nostyle %}
    {% else %}
    <!-- Bootstrap 4 isolation CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    {% endif %}
    
    <!-- Google Fonts {{ site.google_fonts }} -->
    {% if site.google_fonts %}
    <link href="//fonts.googleapis.com/css?family={{ site.google_fonts }}" rel="stylesheet" type="text/css"> 
    {% endif %}
    
    {% if page.use_gallery %}
    {% endif %}

    {% seo %}
