    
   <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
     <div class="container">
      	<a class="navbar-brand" href="{{ base }}/">
    		<img src="{{ base }}/assets/img/main-logo-small.png" width="30" height="30" alt="">
		</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarResponsive">
         <ul class="navbar-nav ml-auto">
	        <!-- Auto Generation of NORMAL pages in the navbar -->
	        {% assign name_page = "" %}
	        
	        {% for node in site.pages %}
	        {% if node.title and node.hide != true and node.parentid == None %}
	        {% if name_page contains node.title %}
	        {% else %}
				{% if node.menuid != None %}
					<li class="dropdown nav-item">
						<a href="{{base}}{{node.url}}" data-toggle="dropdown" class="nav-link dropdown-toggle">
							{{ node.title }}
						</a>

		                <ul class="dropdown-menu">
						{% for cnode in site.pages %}
					        {% if node.menuid != None cnode.title and cnode.hide != true and cnode.parentid == node.menuid %}
								<li><a class="nav-link" href="{{ base }}{{ cnode.url }}">{{ cnode.title }}</a></li>
					        {% endif %}
				        {% endfor %} 		
						</ul>
                
					</li>
				{% else %}
		        	{% if node.url == page.url %} 
		        	<li class="nav-item active">
					{% else %}
	    	    	<li class="nav-item">
		        	{% endif %}
			            <a class="nav-link" href="{{ base }}{{ node.url }}">
			                {{ node.title }}
			            </a>
			        </li>
				{% endif %}
				
	        {% endif %}
	        {% assign name_page = node.title | append: name_page %}
	        {% endif %}
	        {% endfor %} 
	        
         </ul>
       </div>
     </div>
   </nav>
 
