	<style>
	.site-header{% if page.slim_header %}-slim{% endif %} {
	  background-image: url('{{ base }}{{ page.header_image }}');
	}
	</style>

	{% if page.postnav_title %}
	<!-- Header with Background Image -->
	<header class="site-header{% if page.slim_header %}-slim{% endif %}">
	  <div class="container">
	    <div class="row align-items-center">
	      <div class="col-lg-12">
	        <h1 class="display-3 text-center text-white">{{ page.postnav_title }}</h1>
	        <h2 class="display-3 text-center text-white">{{ page.postnav_subtitle }}</h2>
	        {% if page.slim_header==false  %}
	        <div class="text-center display-3"><a class="btn btn-info" href="{{ base }}/about">LEARN MORE</a></div>
	        {% endif %}
	      </div>
	    </div>
	  </div>
	</header>
	{% endif %}
