
body {
  padding-top: 54px;
 }

.container {
    font-family: 'Roboto', sans-serif;
}

.container h1, .container h2 {
    font-family: 'Fjalla One', sans-serif;
}

.alert {
	margin-top: 0px;	
	width: 100%;
	text-align: center;
	font-size: 140%;
}

@media (min-width: 176px) {
  .site-header-slim h1 {
	font-size: 2.0rem;
  }

  .site-header-slim h2 {
	font-size: 1.2rem;
  }

  .site-header h1 {
	font-size: 2.0rem;	
  }

  .site-header h2 {
	font-size: 1.5rem;	
  }
}

@media (min-width: 576px) {
  .site-header-slim h1 {
	font-size: 2.5rem;
  }

  .site-header-slim h2 {
	font-size: 1.1rem;
  }

  .site-header h1 {
	font-size: 2.5rem;	
  }

  .site-header h2 {
	font-size: 2.0rem;	
  }
}

@media (min-width: 768px) {
  .site-header-slim h1 {
	font-size: 2.2rem;	
  }

  .site-header-slim h2 {
	font-size: 1.5rem;
  }

  .site-header h1 {
	font-size: 3.5re7m;	
  }

  .site-header h2 {
	font-size: 3.0rem;	
  }
}

@media (min-width: 992px) {
  .site-header-slim h1 {
	font-size: 3.0rem;	
  }

  .site-header h1 {
	font-size: 4.5rem;	
  }
}

@media (min-width: 1200px) {
  .site-header-slim h1 {
	font-size: 3.0rem;	
  }

  .site-header h1 {
	font-size: 4.5rem;	
  }

  .site-header h2 {
	font-size: 4.0rem;	
  }
}

.site-header {
  height: 50vh;
  min-height: 200px;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  overflow: auto;

  background: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.site-header-slim {
  height: 10rem;
  min-height: 100px;
  margin-top:10px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  overflow: auto;
  
  background: cover;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.site-header-slim h1 {
      font-weight: 400;
}

.site-header-slim h2 {
      font-weight: 400;
}

.site-header h1 {
      font-weight: 400;
}

.events {
	margin-top: 20px;	
}

.event-title {
	margin-top: 0px;
}

.event-header .event-link {
	color: #343a40!important;
}

.event-header {
  height: 50vh;
  min-height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: contain;
  -o-background-size: cover;
}

.event-image {
	width: 100%;
}

.posts {
	margin-top: 50px;
}

.posts .col-md-12 {
	margin-top: 20px;
}

.posts .col-md-6 {
	margin-top: 20px;
}

.posts .card {
	font-size: 100%;
	padding: 20px;
}

.posts .card .meta {
	font-size: 100%;
	color: #6c757d!important;
}

.box-shadow {
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.post-link {
  color: #343a40!important;
}

.toc-entry a {
  color: #343a40!important;
}

.card {
  height: 100%;
}

blockquote {
  font: 14px/22px italic;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
} 


// GALLERY

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}

.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}

.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

.gallery_product .img-preview
{
    height: 60px;
}

.gallery-modal-dialog {
    position: relative;
    display: table; /* This is important */ 
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

.gallery-modal-dialog img {
    max-width: 800px;
}

.row {
  margin: 0px;  
}

.page-footer {
	margin-top: 30px;
 	background-color: #f0f0f0;
}