---
layout: default
---

  <!-- EVENTS -->
  {% if site.show_events_on_homepage %}
  {% include events.html %}
  {% endif %}
  <!-- END OF EVENTS -->

  <!-- END OF POSTS -->
  {% if site.show_posts_on_homepage %}
	<!-- POSTS -->
  <div class="row mb-2 posts">
    {% for post in site.posts %}
    {% if post.hide==false %}
	{% if site.posts_two_col %}
    <div class="col-md-6 posts_row">
  	{% else %}
    <div class="col-md-12 posts_row">
	{% endif %}
        
	    <div class="card mb-4 box-shadow h-md-250 post-teaser">
	      {% if post.thumbnail %} 
	      <div class="thumbnail">
	         <img src="/{{ post.thumbnail }}">
	      </div>
	      {% endif %}
  		 	<header class="posts_item_header">
	      	   <h3 class="mb-0">
	              <a class="post-link" href="{{ post.url }}">
	                {{ post.title }}
	              </a>
	           </h3>
	            <p class="meta">
	              {{ post.date | date: "%B %-d, %Y" }}
	            </p>
	          </header>

	          <div class="excerpt">
	              {{ post.excerpt }}
	            <!--{{ post.content | strip_html | truncate: "250" }}-->
	            <!--<a class="button" href="{{ post.url }}">
	              {{ site.theme_settings.str_continue_reading }}
	            </a>-->
	          </div>
	    </div>
	</div>
	{% endif %}
    {% endfor %}
  </div>

  {% endif %}
  <!-- END OF POSTS -->

  